@media screen and (min-width: 441px) {
  body {
    background-color: hsl(219, 63%, 95%);
    font-family: 'Karla', sans-serif;;
    margin: 0;
  }
  section {
    height: 730px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    height: 500px;
    width: 660px;
    margin: auto;
    display: grid;
    grid-template-rows: 220px 280px;
    align-items: center;
    justify-content: center;
    box-shadow: 0rem 0.9375rem 1.875rem rgba(0, 81, 171, 0.148847);
  }
  .top-landscape {
    background-color: white;
    height: 210px;
    max-width: 620px;
    padding-top: 10px;
    padding-left: 40px;
    border-radius: 1rem 1rem 0 0;
  }
  .lower-landscape {
    height: 280px;
    max-width: 660px;
    display: flex;
    color: white;
  }
  .portrait-1 {
    height: 260px;
    width: 290px;
    background-color: hsl(179, 62%, 43%);
    padding-top: 20px;
    padding-left: 40px;
    border-radius: 0 0 0 1rem;
  }
  .portrait-2 {
    height: 260px;
    width: 290px;
    background-color: hsl(179, 62%, 61%);
    padding-top: 20px;
    padding-left: 40px;
    border-radius: 0 0 1rem 0;
  }
  .top-landscape h2 {
    color: hsl(179, 62%, 61%);
  }
  .top-landscape h4 {
    color: hsl(71, 73%, 54%);
  }
  .top-landscape p {
    font-size: 16px;
    width: 530px;
    line-height: 1.8;
    color: hsl(204, 5%, 80%);
    font-weight: 700;
  }
  .portrait-1 h3 {
    color: white;
  }
  ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
  }
  .price {
    font-size: 30px;
    font-weight: 600;
    margin-right: 10px;
  }
  .duration {
    color: hsl(204, 5%, 80%);
  }
  .portrait-1 h5 {
    font-weight: lighter;
    letter-spacing: 1px;
  }
  button {
    width: 250px;
    background-color: hsl(71, 73%, 54%);
    border-style: none;
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 12px;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 0rem 0.9375rem 1.875rem rgba(0, 81, 171, 0.148847);
  }
  .portrait-2 h4 {
    margin-bottom: 25px;
  }
  .portrait-2 p {
    line-height: 0.5;
    font-size: 14px;
    color: hsl(204, 9%, 89%);
    margin-top: 10px;
  }
  .footer {
    font-size: 12px;
    text-align: center;
  }
  .link {
    color: black;
    text-decoration: none;
  }
  .link:hover {
    cursor: pointer;
    color: blue;
    font-weight: bolder;
  }
}
@media screen and (max-width: 800px) {
  body {
    background-color: hsl(219, 63%, 95%);
    font-family: 'Karla', sans-serif;;
    margin: 0;
  }
  section {
    height: 760px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    height: 720px;
    width: 340px;
    margin: auto;
    display: grid;
    grid-template-rows: 265px 105px 240px;
    align-items: center;
    justify-content: center;
    box-shadow: 0rem 0.9375rem 1.875rem rgba(0, 81, 171, 0.148847);
    border-radius: 1rem 1rem 0 0;
  }
  .top-landscape {
    background-color: white;
    height: 260px;
    width: 330px;
    padding-top: 5px;
    padding-left: 30px;
    border-radius: 0.5rem 0.5rem 0 0;
  }
  .lower-landscape {
    height: 105px;
    width: 340px;
    display: grid;
    color: white;
  }
  .portrait-1 {
    height: 230px;
    width: 330px;
    background-color: hsl(179, 62%, 43%);
    padding-top: 10px;
    padding-left: 30px;
    border-radius: 0 0 0 0;
  }
  .portrait-2 {
    height: 220px;
    width: 330px;
    background-color: hsl(179, 62%, 61%);
    padding-top: 10px;
    padding-left: 30px;
    border-radius: 0 0 0.5rem 0.5rem;
  }
  .top-landscape h2 {
    color: hsl(179, 62%, 61%);
  }
  .top-landscape h5 {
    color: hsl(71, 73%, 54%);
  }
  .top-landscape p {
    font-size: 15px;
    width: 320px;
    line-height: 1.8;
    color: hsl(204, 5%, 80%);
    font-weight: 700;
  }
  .portrait-1 h3 {
    color: white;
  }
  ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
  }
  .price {
    font-size: 30px;
    font-weight: 600;
    margin-right: 10px;
  }
  .duration {
    color: hsl(204, 5%, 80%);
  }
  .portrait-1 h5 {
    font-weight: lighter;
    letter-spacing: 1px;
  }
  button {
    width: 300px;
    background-color: hsl(71, 73%, 54%);
    border-style: none;
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 12px;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 0rem 0.9375rem 1.875rem rgba(0, 81, 171, 0.148847);
  }
  .portrait-2 h4 {
    margin-bottom: 25px;
  }
  .portrait-2 p {
    line-height: 0.5;
    font-size: 14px;
    color: hsl(204, 9%, 89%);
    margin-top: 10px;
  }
  .footer {
    font-size: 12px;
    text-align: center;
  }
  .link {
    color: black;
    text-decoration: none;
  }
  .link:hover {
    cursor: pointer;
    color: blue;
    font-weight: bolder;
  }
}